.ispovestGenerationModalButton {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.66);
  color: whitesmoke;
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin: 10px;
  line-height: 50px;
  cursor: pointer;
  text-decoration: none !important;
  background-color: rgba(30, 90, 30, 0.8);
  border-color: black;
  border-style: solid;
  color: black;
  min-width: 210px;
}

.ispovestGenerationModalButtonDisabled {
  cursor: not-allowed;
  background-color: rgba(30, 120, 30, 0.7);
}

.ispovestGenerationModalButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.arenaIspovest {
}

.modalRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.buttonRow {
  margin: 0px;
  margin-bottom: -10px;
}

.continueButton {
  display: inline-block;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  color: lightGray;
  width: 125px;
}

.mozeButton {
  margin: 10px;
  font-size: 40px;
}

.disabledButton {
  color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
}

.modalText {
  font-size: 30px;
}

.modalCol {
  margin: 5px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalInput {
  margin-bottom: 20px;
}

.generatedIspovestText {
  margin: 30px;
  margin-bottom: 0px;
  text-align: center;
}

.queueInfoText {
  margin-bottom: 30px;
  text-align: center;
}
