@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");

.arena {
  border-style: none;
  border-radius: 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  background-image: url("static/circuit-texture.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  color: lightgray;
  font-size: large;
  font-family: "Rokkitt", serif;
}

.button {
  background: none;
  border: none;
  padding: 5;
  font: inherit;
  font-size: smaller;
  outline: none;
  cursor: pointer;
  outline: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  border-style: none;
  border-radius: 5px;
  color: rgb(129, 129, 129);
}
.button:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.reactionCount {
  margin: 5px;
  font-size: smaller;
  color: rgb(129, 129, 129);
}

.commentButtonContainer {
  display: flex;
  justify-content: flex-end;
}
.commentButton {
  margin-left: auto;
  margin-right: 0;
}

.jumbotron {
  background: url("static/bluembo.jpg") no-repeat -9999px -9999px;
}

.my-modal .modal-content {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("static/bluembo.jpg");

  border-style: none;
  border-width: 1px;
  border-color: rgba(211, 211, 211, 0.4);
  border-radius: 10px;
}

.content {
  margin-top: -100;
}
#app > div {
  height: 100%;
}

.mainLink:hover {
  text-decoration: none;
}
